{% extends 'base.html' %}
{% load static %}
{% block title %}Upload o'chirish{% endblock title %}

{% block content %}
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="text-center py-4">
                                <h4 style="color: darkred" >O'chirish</h4>
                                <form action="" method="post">{% csrf_token %}
                                    <h6><span class="text-muted" >Ismi:</span> {{ upload.name }}</h6>
                                    <h6><span class="text-muted" >Tel:</span>  {{ upload.tel_number }}</h6>
                                    <h6><span class="text-muted" >Mahsulot:</span>  {{ upload.number_product }}</h6>
                                    <h6><span class="text-muted" >Vaqt:</span> {{ upload.publish_date | timesince }} ago</h6>
                                    <a href="../post/{{ upload.number_product }}" style="text-decoration: underline"><p>Mahsulotni kurish..</p></a>
                                    <p>Yuqoridagini o'chiraymi?</p>
                                    <input type="submit" value="O'chirish" style="color: darkred">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}