{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}

{% block content %}

     <!-- Page Header Start -->
        <div id="uni" class="container py-5 px-2 bg-primary">
            <div class="row py-5 px-4">
                <div class="col-sm-6 text-center text-md-left">
                    <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">While University</h1>
                </div>
                <div class="col-sm-6 text-center text-md-right">
                    <div class="d-inline-flex pt-2">
                        <h4 class="m-0 text-white"><a class="text-white" href="{% url 'home' %}">Home</a></h4>
                        <h4 class="m-0 text-white px-2">/</h4>
                        <h4 class="m-0 text-white">University Time</h4>
                    </div>
                </div>
            </div>
        </div>
    <!-- Page Header End -->

   <!-- Blog List Start -->
        <div class="container bg-white pt-5">
            {% for post in posts %}
                 {% if post.where_university %}
            <div class="row blog-item px-3 pb-5">
                <div class="col-md-5">
                    <a class="btn btn-link p-0" href="{% url 'post' post.pk %}#p"><img class="img-fluid mb-4 mb-md-0" src="{{ post.photo.url }}" alt="{{ post.titleHome }}" ></a>
                </div>
                <div class="col-md-7">
                    {% if post.titleHome %}
                         <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ post.titleHome | title }}</h3>
                    {% else %}
                         <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ post.title| title | truncatewords:5}}</h3>
                    {% endif %}
                    <div class="d-flex mb-3">
                        <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.date| timesince }} ago</small>
                        <small class="mr-2 text-muted"><i class="fa fa-user"></i> {{ post.author }}</small>
                    </div>
                    <p>
                        {{ post.summary }}
                    </p>
                    <a class="btn btn-link p-0" href="{% url 'post' post.pk %}#p">Batafsil <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i></a>                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>

    <!-- Blog List Start -->

{% endblock content %}